
.graph-bg{position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; }
/* .graph-bg-thumb img{max-height: 933px; width: 100%;} */
.graph-performance-wrap{position: relative; z-index: 1; padding: 66px 0 266px;}
.graph-content{margin-bottom: 98px;}
.graph-sub-title{font-size: 19px; font-family: 'Poppins-Medium', sans-serif; color: rgba(255, 255, 255, 0.4); margin-bottom: 24px; display: block;}
.graph-text h2{font-size: 56px; color: var(--white); font-weight: normal; line-height: 1.14; margin-bottom: 22px;}
.graph-text h2 .big-text{font-weight: bold;}
.graph-text p{font-size: 19px; font-weight: 300; line-height: 1.58; color: var(--white); max-width: 510px; margin-left: auto;}

.graph-count{font-size: 53px; font-weight: bold; color: var(--white); font-family: 'Quicksand', sans-serif; margin-bottom: 10px;}
.graph-number-count{margin-bottom: 16px;}
.graph-number-icon img{height: auto;}

.graph-number-count span{font-size: 21px; font-family: 'Poppins-Medium', sans-serif; color: rgba(255, 255, 255, 0.4); font-family: 'Quicksand', sans-serif;}
.graph-number-value p{font-size: 14px; font-weight: 300; line-height: 1.43; color: rgba(255, 255, 255, 0.6);}

.graph-thumb{box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5);}
.graph-thumb::before{content: "\f0d7"; position: absolute; font-size: 26px; font-weight: bold; font-family: "Font Awesome 6 Pro"; color: var(--white); bottom: 0; line-height: 0; left: 50%; transform: translateX(-50%);}
.graph-thumb img{border: 3px solid var(--white); border-radius: 50%;}
.graph-img{width: 56px; }
.dot{width: 11px; height: 11px; background-color: var(--white); border-radius: 50%; margin: 23px auto 0; }
.dot::before{content: ""; position: absolute; opacity: 0.2; background-image: radial-gradient(circle at 50% 50%, #00be66, rgba(0, 190, 102, 0) 71%); width: 120px; height: 120px; top: -50px; left: -50px; }

.graph-img.active{width: 68px; }
.graph-img.active .graph-thumb img{border-color: var(--green-color);}
.graph-img.active .graph-thumb::before{font-size: 34px; color: var(--green-color);}
.graph-img.active .dot{background-color: var(--green-color);}


@media screen and (min-width:1024px) {
    .graph-location{max-width: 677px; width: 100%; min-height: 356px;}
    .graph-text{width: calc(100% - 677px); text-align: end; padding-top: 53px;}
    /* .graph-number-lists{gap: 60px;} */
    .graph-number{gap: 48px;}
    .graph-number-list{flex: 0 0 30%;}
    .graph-number-icon{width: 50px; margin-right: 20px;}
    .graph-number-value{width: calc(100% - 70px);}

    .graph-img.one{position: absolute; top: 0; left: 92px;}
    .graph-img.two{position: absolute; right: 0; top: 56px;}
    .graph-img.three{position: absolute; top: 94px; right: 237px;}
    .graph-img.four{position: absolute; bottom: 0; left: 130px;}
    
}

@media screen and (max-width:1299px) and (min-width:1024px){
    .graph-location{max-width: 600px;}
    .graph-text{width: calc(100% - 600px);}
    .graph-number-lists{gap: 44px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .graph-performance-wrap{padding: 70px 0 232px;}
    .graph-location{width: 400px; min-height: 194px; margin-bottom: 48px;}
    .graph-img .dot{width: 7px; height: 7px;}
    .graph-img.one{position: absolute; bottom: 0; left: 11px;}
    .graph-img.three{position: absolute; bottom: 19px; right: 28px;}
    .graph-img.four{position: absolute; top: 0; left: 159px; }

    .graph-content{margin-bottom: 50px;}
    .graph-text{width: calc(100% - 400px); text-align: right;}
    .graph-sub-title{margin-bottom: 27px;}
    .graph-text h2{font-size: 41px; margin-bottom: 25px;}

    .graph-number{gap: 24px;}
    .graph-number-list{flex: 0 0 31%;}
    .graph-number-icon{width: 48px; margin-right: 15px;}
    .graph-number-value{width: calc( 100% - 63px);}
    .graph-number-count{margin-bottom: 11px;}
    .graph-count{font-size: 36px; margin-bottom: 5px;}
    .graph-number-count span{font-size: 18px; line-height: 1.3; display: block;}

}

@media screen and (max-width: 767px) and (min-width: 200px){
    .graph-performance-wrap{padding: 70px 0 232px;}
    .graph-location{width: 100%; min-height: 194px; margin-bottom: 48px;}
    .graph-img .dot{width: 7px; height: 7px;}
    .graph-img.one{position: absolute; bottom: 0; left: 11px;}
    .graph-img.three{position: absolute; bottom: 19px; right: 28px;}
    .graph-img.four{position: absolute; top: 0; left: 159px; }

    .graph-content{margin-bottom: 50px;}
    .graph-text{width: 100%; text-align: right;}
    .graph-sub-title{margin-bottom: 27px;}
    .graph-text h2{font-size: 46px; margin-bottom: 25px;}

    .graph-number{gap: 42px;}
    .graph-number-icon{width: 48px; margin-right: 15px;}
    .graph-number-value{width: calc( 100% - 63px);}
    .graph-number-count{margin-bottom: 11px;}
    .graph-count{font-size: 36px; margin-bottom: 0;}
    .graph-number-count span{font-size: 18px;}
}

