.home-slider-main{gap: 60px;}
.home-slider-thumb{max-width: 486px; max-height: 664px;}
.home-slider-list{width: calc(33.333% - 40px);}
.home-slider-content{color:white; position: absolute;left: 82px; bottom: 81px;}
.home-slider-content h4{color: var(--white);}
