.home-slider-content{position: absolute; left: 0; bottom: 0; width: 100%;}
.home-slider-category{gap: 15px; margin-bottom: 23px;}
.home-slider-category a{font-size: 11.5px; font-weight: 400; letter-spacing: 1px; color: var(--white); text-transform: uppercase; border-radius: 16px; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.2); padding: 2px 19px 2px 19px; }
.home-slider-content h4{font-size: 38px; line-height: 1.37; color: var(--white); margin-bottom: 22px;}
.home-slider-content h4 a{color: var(--white);}
.home-slider-content h4 a:hover{color: var(--white-50);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .home-slider-wrap{padding: 0 0 113px;}
    .home-slider-main{gap: 60px;}
    .home-slider-list{flex: 0 0 calc(33.333% - 40px);}
    .home-slick-slider.slick-slider{width: calc(100% + 60px);}
    .home-slick-slider .slick-slide{margin-right: 60px;}
    .home-slider-thumb img{min-height: 664px; max-height: 664px;}
    .home-slider-content{padding: 80px;}
    .home-slick-slider ul.slick-dots{margin: 40px auto 0; max-width: 197px;}
    .home-slick-slider .slick-arrow{bottom: -11px; position: absolute;}
    .home-slick-slider .slick-arrow.slick-prev{left: calc(50% - 98px);}
    .home-slick-slider .slick-arrow.slick-next{right: calc(50% - 98px);}
}
@media only screen and (max-width: 1399px) and (min-width: 1024px){
    .home-slider-content{padding: 70px;}
    .home-slider-content h4{font-size: 33px; line-height: 1.2;}
    .home-slider-thumb img{min-height: 412px; max-height: 412px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .home-slick-slider.slick-slider{width: calc(100% + 30px);}
    .home-slick-slider .slick-slide{margin-right: 30px;}
    .home-slider-content{padding: 30px;}
    .home-slider-content h4{font-size: 28px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .home-slider-wrap{padding: 0 0 80px;}
    .home-slick-slider .slick-list{overflow: inherit;}
    .home-slick-slider .slick-slide{margin-right: 30px;}
    .home-slider-thumb img{min-height: 417px; max-height: 417px;}
    .home-slider-content{padding: 60px 39px;}
    .home-slider-category{margin-bottom: 16px;}
    .home-slider-content h4{font-size: 26px; line-height: 1.46;}
    .home-slick-slider ul.slick-dots{margin-top: 35px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .home-slider-wrap{padding: 0 0 39px;}
    .home-slick-slider .slick-list{overflow: inherit;}
    .home-slick-slider .slick-slide{margin-right: 20px; width: 309px;}
    .home-slider-thumb img{min-height: 417px; max-height: 417px;}
    .home-slider-content{padding: 60px 39px;}
    .home-slider-category{margin-bottom: 16px;}
    .home-slider-content h4{font-size: 26px; line-height: 1.46;}
    .home-slick-slider ul.slick-dots{margin-top: 35px;}
}