
/* Banner section */
.project-banner-bg{position: absolute; z-index: -1; height: 100%; width: 100%; left: 0; top: 0;}
.project-text h1{color: var(--white);}
.project-text p{font-size: 19px; font-weight: 300; line-height: 1.58; color: var(--white);}
.project-desc{margin-bottom: 42px;}
.num-count-icon{margin-bottom: 30px;}
.num-count-icon img{max-height: 52px; min-height: 52px; object-fit: contain;}
.num-value{margin-bottom: 9px; font-weight: 600; font-family: 'Quicksand', sans-serif; color: var(--white);}
.num-count-text span{font-size: 18px; font-weight: 600; font-family: 'Quicksand', sans-serif; color: rgba(255, 255, 255, 0.4); line-height: 24px; display: block;}


/* project sub heading */
.project-facts ul{margin: 0;}
.project-facts ul li{margin-bottom: 9px;}
.project-facts ul > li::before{display: none;}
.facts-title{font-size: 16px; font-family: 'Poppins-Medium', sans-serif; line-height: 1.88; color: var(--heading-color); }
.facts-heading{font-size: 19px; font-family: 'Poppins-Medium', sans-serif; color: #a2a4b7; margin-bottom: 25px; display: block; }

.big-image{padding: 65px 0 91px; }
.big-image-caption{position: absolute; bottom: 0; padding: 38px 166px 38px 47px; border-left: 5px solid #00be66; z-index: 1;}
.big-image-caption h6{font-size: 19px; font-family: 'Poppins-Medium', sans-serif; color: #fff; margin-bottom: 0;}
.big-image-caption span{font-size: 14px; font-weight: 300; line-height: 1.43; color: rgba(255, 255, 255, 0.6); }
.caption-bg{width: 100%; height: 100%; top: 0; left: 0; position: absolute; background: #00052d;z-index: -1; }

/* Project second */
.project-second-wrap{padding-bottom: 85px;}
.project-second-wrap.no_slider{padding-top: 72px;}

/* full width slider */
.full-width-section{margin-top: -146px; position: relative; z-index: 1;}
.full-width-wrap{padding-bottom: 97px; }
.full-width-list{width: 1123px; margin: 0 30px;}  
.full-width-slider .slick-list{overflow: inherit;}

/* two grid section */
.two-grid-main.full_width{justify-content: center;}
.two-grid-caption{position: absolute; bottom: 0; background: #00052d; padding: 38px 166px 38px 47px; border-left: 5px solid #00be66; }
.two-grid-caption h6{font-size: 19px; font-family: 'Poppins-Medium', sans-serif; color: #fff; margin-bottom: 0;}
.two-grid-caption span{font-size: 14px; font-weight: 300; line-height: 1.43; color: rgba(255, 255, 255, 0.6); }


/* More Communities */
.more-communities-wrap{padding: 50px 0 0; border-top: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: -75px; z-index: 2; position: relative;}
.more-communities-heading{width: 50%; margin-bottom: 60px;}
.more-communities-heading h4{font-size: 26px; line-height: 2.04; color: var(--heading-color); margin-bottom: 0;}
.more-communities-slider .slick-list{overflow: inherit;}
.more-communities-list{width: 413px; margin-right: 60px; position: relative;}
.more-communities-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-image: linear-gradient(to top,#eee ,#00052d); mix-blend-mode: multiply; }
.more-communities-content{position: absolute; top: 0; height: 100%; width:100%; padding: 45px 60px 49px 58px; flex-direction: column; display: flex; overflow-y: auto;}
.more-communities-category{gap: 4px; margin-bottom: 18px;}
.more-communities-category a{font-size: 11.5px; font-weight: bold; letter-spacing: 1px; color: var(--white); text-transform: uppercase; border-radius: 16px; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.2); padding: 2px 19px 2px 19px; }
.more-communities-category a:hover{background-color: var(--white); color: var(--black);}
.more-communities-content h3{font-size: 38px; font-weight: bold; line-height: 1.11;}
.more-communities-content h3 > a{color: var(--white); }
.more-communities-content h3 > a:hover{color: var(--green-color);}
.more-communities-content .button{margin-top: auto; max-width: fit-content; }
.more-communities-content .button:hover{background-color: #00be66; border-color: #00be66;}

.more-communities-slider ul.slick-dots{width: auto; display: flex; justify-content: end; position: absolute; top: -91px; right: 20px;}
.more-communities-slider .slick-arrow{position: absolute; top: -101px; font-size: 29px; }
.more-communities-slider .slick-arrow.slick-next{right: 0;}
.more-communities-slider .slick-arrow.slick-prev{right: 17.4%;}

/*-- media css starts here --*/
@media screen and (min-width:1024px) {
    .project-banner-bg{height: calc(100% - 87px);}
    .project-banner-main{padding: 265px 0 0; gap: 234px; flex-direction: row-reverse;}
    .project-image{flex: 0 0 592px; position: relative;}
    .project-image::before{content: ""; position: absolute; width: 100%; height: 186px; background: var(--white); bottom: 78px; left: 100%; right: 0; }
    .project-image img{min-height: 655px;}
    .project-text{flex: 0 0 calc(100% - 826px);}
    .num-count-lists{gap: 30px;}
    .num-count-list{flex: 0 0 calc(33.3333% - 20px); max-width: calc(33.3333% - 20px);}

    .no_project_section{margin-top: 87px;}
    .project-sub-heading-wrap{padding: 15px 0 88px;}
    .project-sub-heading-main{gap: 178px; margin-bottom: 40px;}
    .project-title{flex: 0 0 533px;}
    .project-facts{flex: 0 0 calc( 100% - 711px); margin-top: 69px;}

    .project-profile h3{margin: 59px 0 21px;}

    .facts-title{flex:0 0 43%;}
    .facts-content{flex: 0 0 57%;}
    .big-image-main{max-width: 1356px; margin: 0 auto;}
    .project-profile .optional-feature-main{padding: 91px 0 97px;}
    .two-grid-main{gap:60px; padding: 98px 0 119px;}
    .two-grid-list{flex: 0 0 calc(50% - 30px); transform: translateY(-30px);}
    .two-grid-list:nth-child(even){transform: translateY(30px);}

    .full-width-slider ul.slick-dots{margin: 30px auto 0; max-width: 197px;}
    .full-width-slider .slick-arrow{bottom: -11px; position: absolute;}
    .full-width-slider .slick-arrow.slick-prev{left: calc(50% - 98px);}
    .full-width-slider .slick-arrow.slick-next{right: calc(50% - 98px);}

    .more-communities-content h3{margin: 0 0 21px 0;}
    .more-communities-thumb img{max-height: 429px; min-height: 429px;}
}
@media screen and (min-width: 768px){
    .num-value { font-size: 24px; line-height: 28px; }
}
@media screen and (max-width: 1399px) and (min-width: 1024px){
    .project-banner-main{gap: 30px;}
    .project-image{flex: 0 0 492px;}
    .project-text{flex: 0 0 calc(100% - 522px);}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .project-banner-main{padding: 265px 0 70px; gap: 30px; flex-direction: row-reverse;}
    .project-image{flex: 0 0 492px;}
    .project-text{flex: 0 0 calc(100% - 522px);}
    .project-image::before{bottom: 0;}

    .project-sub-heading-main{gap: 50px;}
    .project-title{flex: 0 0 433px;}
    .project-facts{flex: 0 0 calc( 100% - 483px);}
    .full-width-list{width: 1000px;}
    .more-communities-list{margin-right: 30px;}
    .two-grid-main{max-width: 100%; gap: 40px;}
    .two-grid-list{max-width: 48%;}
    .more-communities-slider .slick-arrow{display: none !important;}
    .more-communities-slider ul.slick-dots{right: 0;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .project-banner-main{padding: 100px 0 50px; gap: 30px; flex-direction: row-reverse;}
    .project-image{flex: 0 0 285px; position: relative;}
    .project-text{flex: 0 0 calc(100% - 315px);}
    .project-text h1{font-size: 46px; line-height: 1.17;}
    .num-count-lists{gap: 20px;}
    .num-count-list{flex: 0 0 calc(33.3333% - 14px); max-width: calc(33.3333% - 14px);}

    .project-sub-heading-wrap{padding: 81px 0 88px; display: block;}
    .project-title{margin-bottom: 30px;}
    
    .facts-title{width: 140px;}
    .facts-content{width: calc(100% - 140px);}
    .big-image{padding: 80px 0;}
    .big-image .container{padding: 0;}
    .full-width-list{width: 730px;}

    .two-grid-main{padding: 80px 0; gap: 40px;}
    .two-grid-section .container { padding: 0; }
    .two-grid-list{transform: none;}
    .two-grid-list:first-child{transform: none;}

    .full-width-slider ul.slick-dots{margin-top: 30px;}
    .more-communities-list{margin-right: 30px;}
    .more-communities-thumb img{max-height: 420px; min-height: 420px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .project-banner-main{padding: 91px 0 53px; display: block;}
    .project-image{width: calc(100% + 40px); margin:0 0 60px -20px;}
    .project-text{max-width: 100%; margin-right: 0;}
    .project-text h1{font-size: 46px; line-height: 1.17; margin-bottom: 18px;}
    .num-count-lists{display: block;}
    .num-count-list{display: flex;}
    .num-count-icon{width: 48px; margin-right: 25px;}
    .num-count-text{width: calc(100% - 73px);}
    .num-value{font-size: 24px; line-height: 28px; margin-bottom: 4px;}
    .num-count-list span{font-size: 17px;}

    .project-sub-heading-wrap{padding: 62px 0 78px; }
    .project-title{max-width: 100%; margin-right: 0;}
    .project-facts{width: 100%; margin-top: 47px;}
    .project-title h2{font-size: 32px; line-height: 1.38; margin-bottom: 21px;}
    .facts-title{width: 158px;}
    .facts-content{width: calc(100% - 158px);}

    .big-image{padding: 71px 0 60px;}
    .big-image .container{padding: 0;}
    .big-image-main{width: calc(100% + 40px); margin-left: -20px;}
    .big-image-caption{position: relative; padding: 24px 32px 21px 25px;}
    .project-sub-heading h2{font-size: 32px; line-height: 1.38; margin-bottom: 17px;}
    .project-sub-heading h3{font-size: 26px; margin-bottom: 16px;}

    .full-width-wrap{padding: 0 20px 60px;}
    .full-width-list{width: 371px; margin: 0 30px;}
    .full-width-thumb img{height: 263px;}

    .project-second-wrap{padding-bottom: 79px;}
    .project-second-section h2{font-size: 32px; line-height: 1.38; margin-bottom: 16px;}
    .project-second-section h3{font-size: 26px; margin-bottom: 16px;}
    
    .two-grid-section .container{padding: 0;}
    .two-grid-main{padding: 49px 0 60px; gap: 20px;}
    .two-grid-caption{position: relative; padding: 24px 40px 22px 25px;}
    .two-grid-list , .two-grid-list:first-child{transform: none; height: 100%;}

    .full-width-slider ul.slick-dots{margin-top: 30px;}

    .more-communities-wrap{padding: 41px 0 85px; margin-bottom: 0;}  
    .more-communities-heading{width: 100%; margin-bottom: 41px;}
    .more-communities-list{width: 308px; margin-right: 20px; height: 359px !important;}
    .more-communities-category a{font-weight: 500;}
    .more-communities-content h3{font-size: 30px; line-height: 1.33;}
    .more-communities-content{padding: 40px 40px 45px 40px;}
    .more-communities-slider ul.slick-dots{margin: 35px 0 0; width: 100%; justify-content: center; position: relative; bottom: 0; top: auto; right: auto;}
}