/* Banner section */
.company-banner-bg{position: absolute; z-index: -1; width: 100%; height: 100%; top: 0; left: 0;}
.company-banner-wrap{padding: 289px 0 0;}

.company-test .sub-text{font-size: 19px; font-weight: 600; color: rgba(255, 255, 255, 0.4); margin-bottom: 24px; display: block;}
.company-test h1{font-size: 56px; font-weight: 300; line-height: 1.14; color: var(--white);}
.company-test h1 > .big-text{font-weight: bold; display: block;}
.company-test p{font-size: 19px; font-weight: 300; line-height: 1.58; color: var(--white);}
.company-num-count{gap: 60px; margin-top: 72px;}
.num-value{font-size: 38px; font-weight: bold; font-family: 'Quicksand', sans-serif; color: #fff;  margin-bottom: 9px;}
.num-count-list img{margin-bottom: 30px;}
.num-count-list span{font-size: 18px; font-weight: 600; font-family: 'Quicksand', sans-serif; color: rgba(255, 255, 255, 0.4); line-height: 24px; display: block;}

.company-banner-content{padding: 79px 0 109px; }
.company-content-list h6{font-family: 'Poppins', sans-serif; font-size: 19px; font-weight: 600; color: var(--white); margin-bottom: 14px; }
.company-content-list p{font-size: 14px; font-weight: 300; color: rgba(255, 255, 255, 0.4); line-height: 1.43; }


/* logo slider section */
.company-logo-wrap{padding: 94px 0; }
.logo-slider-heading{margin-bottom: 43px; }
.logo-slider-heading h6{font-size: 19px; font-weight: 600; color: var(--heading-color); font-family: 'Poppins', sans-serif; margin-bottom: 0;}
.logo-slider-main{gap: 31px; }
.logo-slider-item{flex: 0 0 200px;}
.logo-slider-thumb img{max-width: 187px; max-height: 59px; }
.logo-slider-main ul.slick-dots{margin: 43px 0 0 0; }

/* company grid section */
.company-grid-wrap{padding: 24px 0 130px; }
.company-grid-main{max-width: 1124px; margin: 0 auto; }
.company-grid-list{border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
.company-grid-list:last-child{border: none; }
.company-grid-content{flex: 0 0 50%; padding: 0 147px 134px 0;}
.company-grid-content h3{font-size: 42px; font-weight: bold; line-height: 1.26; color: var(--heading-color);}
.company-grid-image{padding: 0 0 134px 147px; border-left: solid 1px rgba(0, 0, 0, 0.1);}
.company-grid-thumb img{max-width: 413px; }

.company-grid-list.reverse{flex-direction: row-reverse;}
.reverse .company-grid-content{padding: 131px 0 0 147px ; border-left: solid 1px rgba(0, 0, 0, 0.1);}
.reverse .company-grid-image{padding: 131px 147px 0 0; border: none; } /*justify-content: start;*/

/* Leadership section */
.leadership-wrap{padding: 90px 0 40px; }
.leadership-image{gap: 30px; margin-bottom: 20px;}
.leadership-thumb{width: 62px;}
.leadership-heading h2{font-size: 42px; font-weight: bold; line-height: 1.26; color: var(--heading-color); }


/* More Communities */
.featured-project-wrap{padding: 50px 0 0; margin-bottom: -75px; z-index: 2; position: relative;}
.featured-project-content{position: absolute; bottom: 0; }
.featured-project-category{gap: 15px; margin-bottom: 23px;}
.featured-project-category a{font-size: 11.5px; font-weight: bold; letter-spacing: 1px; color: var(--white); text-transform: uppercase; border-radius: 16px; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.2); padding: 2px 19px 2px 19px; }
.featured-project-content h3{font-size: 38px; font-weight: bold; line-height: 1.37; color: var(--white); }
.featured-project-content .button{margin-top: auto; max-width: fit-content; }
.featured-project-content .button:hover{background-color: #00be66; border-color: #00be66;}

/*-- media css starts here --*/
@media screen and (min-width:1024px) {
    .num-count-list{flex: 0 0 20%;}
    .company-content-list{flex: 0 0 50%; padding-right: 150px;}
    .company-content-list:nth-child(2){padding: 0 0 0 150px; border-left: 1px solid rgba(255, 255, 255, 0.2);}
    .company-test{max-width: 650px; width: 100%; margin-right: 40px;}
    .company-location{width: calc(100% - 690px); position: relative;}

    .dot-location.one{position: absolute; top: -13px; left: 34px; }
    .dot-location.two{position: absolute; left: 440px; top: 75px; }
    .dot-location.three{position: absolute; bottom: 173px; left: 220px; }

    .leadership-main{max-width: 890px; margin: 0 auto; }
    .leadership-heading{width: 417px; margin-right: 30px;}
    .leadership-content{width: calc(100% - 447px);}

    .company-grid-image{flex: 0 0 50%;}

    .featured-project-main{gap: 60px; }
    .featured-project-list{flex: 0 0 calc(33.333% - 40px);}
    .featured-project-content { padding: 45px 73px 81px; }
}
@media screen and (max-width: 1499px) and (min-width:1024px){
    .featured-project-content { padding: 45px 60px 81px; }
}
@media screen and (max-width:1299px) and (min-width:1024px){
    .company-test{max-width: 510px; margin-right: 20px; }
    .company-location{width: calc(100% - 530px);}

    .company-grid-content{padding: 0 45px 90px 0; }
    .company-grid-image{padding: 0 0 90px 45px;}
    .reverse .company-grid-content{padding: 90px 0 0 45px;}
    .reverse .company-grid-image{padding: 90px 45px 0 0; justify-content: end;}

    .featured-project-main{gap: 30px;}
    .featured-project-list{flex: 0 0 calc(33.333% - 20px);}
    .featured-project-content{padding: 30px;}
    .featured-project-content h3{font-size: 32px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .company-banner-wrap{padding: 91px 0 25px;}
    .company-banner-main{flex-direction: column-reverse;}
    .company-location{min-height: 122px; margin-bottom: 60px;}
    .dot-location.one{position: absolute; top: 0; left: 184px;}
    .dot-location.two{position: absolute; top: 45px; left: 280px;}
    .dot-location.three{position: absolute; bottom: 0; left: 42px;}

    .company-banner-content{padding: 54px 0;}
    .company-content-list{width: 100%; padding-bottom: 40px;}
    .company-content-list:nth-child(2){width: 100%; padding: 40px 0 0 0; border-top: 1px solid rgba(255, 255, 255, 0.2);}
    
    /* .company-grid-list{gap: 28px;} */
    .company-grid-content{flex: 0 0 50%; padding: 0 20px 50px 0;}
    .company-grid-image{padding: 0 0 50px 20px; flex: 0 0 50%;display: flex; align-items: center; justify-content: center;}
    .reverse .company-grid-content{padding: 50px 0 0 20px;}
    .reverse .company-grid-image{padding: 50px 20px 0 0; justify-content: center;}
}

@media screen and (max-width: 1023px) and (min-width: 200px){
    .company-logo-wrap{padding: 53px 0 80px;}
    .logo-slider-item{width: 187px; margin: 0 25px;}
    .logo-slider .slick-list{overflow: inherit;}
    .logo-slider ul.slick-dots{width: auto; display: flex; justify-content: end; position: absolute; bottom: -43px; left: 50%; transform: translateX(-50%);}

    .featured-project-wrap{padding: 0; margin-bottom: -117px;}
    .featured-project-main{gap: 21px;}
    .featured-project-list{width: 309px; margin-right: 20px;}
    .featured-project-category{margin-bottom: 17px;}
    .featured-project-category a{font-weight: 400;}
    .featured-project-content h3{font-size: 26px; line-height: 1.46;}
    .featured-project-content{padding: 45px 38px 60px 40px;}
    .featured-project-slider .slick-list{overflow: inherit;}
    .featured-project-slider ul.slick-dots{width: auto; display: flex; justify-content: end; position: absolute; bottom: -43px; left: 50%; transform: translateX(-50%);}
    .featured-project-slider ul.slick-dots li button::before{background-color: rgba(255, 255, 255, 0.2);}
    .featured-project-slider ul.slick-dots li.slick-active button::before{background-color: var(--white);}
    .company-page .custom-cta-main{padding: 115px 0 0; }

}

@media screen and (max-width: 767px) and (min-width: 200px){
    .company-banner-wrap{padding: 91px 0 25px;}
    .company-banner-main{flex-direction: column-reverse;}
    .company-location{min-height: 122px; margin-bottom: 60px;}
    .dot-location{width: 7px; height: 7px;}
    .dot-location.one{position: absolute; top: 0; left: 184px;}
    .dot-location.two{position: absolute; top: 45px; left: 280px;}
    .dot-location.three{position: absolute; bottom: 0; left: 42px;}

    .company-test h1{font-size: 46px; font-weight: bold; line-height: 1.17;}
    .company-test h1 > .big-text{display: initial;}

    .company-num-count{gap: 36px; margin-top: 60px;}
    .num-count-list{flex: 0 0 100%; display: flex;}
    .num-count-list img{margin-bottom: 0;}
    .num-count-icon{width: 48px; margin-right: 25px;}
    .num-count-text{width: calc(100% - 73px);}
    .num-value{font-size: 36px;}
    .num-count-list span{font-size: 17px;}

    .company-banner-content{padding: 54px 0;}
    .company-content-list{width: 100%; padding-bottom: 40px;}
    .company-content-list:nth-child(2){width: 100%; padding: 40px 0 0 0; border-top: 1px solid rgba(255, 255, 255, 0.2);}

    .company-grid-wrap{padding: 24px 0 80px;}
    .company-grid-main{gap: 80px;}
    .company-grid-list{border-bottom: none; gap: 50px;}
    .company-grid-content{flex: 0 0 100%; padding: 0;}
    .company-grid-image{flex: 0 0 100%; display: flex; justify-content: center; padding: 0; border-left:none;}
    .reverse .company-grid-content{padding: 0; border-left: none;}
    .reverse .company-grid-image{padding: 0; justify-content: center;}
    .company-grid-content h3{font-size: 32px; line-height: 1.38;}
    .company-grid-content .button{margin-top: -12px;}

    .leadership-wrap{padding: 80px 0;}
    .leadership-main{max-width: 100%;}
    .leadership-heading{width: 100%; margin-right: 0;}
    .leadership-image{margin-bottom: 30px;}
    .leadership-content{width: 100%;}
    .leadership-heading h2{font-size: 32px; line-height: 1.38; margin-bottom: 19px;}
    .leadership-content .button{margin-top: -12px;}

}