

.confirmation-icon-glow{left: 50%; top: 50%; transform: translate(-50%, -50%); position: absolute; opacity: 0.2; background-image: radial-gradient(circle at 50% 50%, #00be66, rgba(0, 190, 102, 0) 71%); }
.tick-icon{font-size: 121px; color: #00be66;}
.confirmation-page-desc{color: var(--white);}
.confirmation-page-desc h1{font-size: 74px; line-height: 1.12; text-transform:capitalize;}
.confirmation-page-desc p:not(:last-child){margin-bottom: 24px;}


/*-- media css starts here --*/
@media screen and (min-width:1024px){
    .confirmation-page-main{padding: 367px 0 248px; max-width: 1226px; margin: 0 auto 0 56px;}
    .confirmation-page-icon{width: 349px; margin: -20px 62px 0 0;}
    .confirmation-page-desc{width: calc(100% - 411px)}
    .confirmation-icon-glow{width: 349px; height: 349px}
    .confirmation-page-desc p{font-size: 19px; max-width: 525px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .confirmation-page-main{padding: 267px 0 118px; margin: 0 auto;}
    .confirmation-page-icon{margin: 0 20px 0 0; }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .confirmation-page-main{padding: 161px 0 100px; display: block; text-align: center;}
    .confirmation-icon-glow{width: 254px; height: 254px; right: 0; }
    .confirmation-page-icon{display: block; margin-bottom: 76px;}
    .confirmation-page-desc{ max-width: 650px; margin: 0 auto;}
    .confirmation-page-desc h1{font-size: 46px; line-height: 54px;}
    .tick-icon{font-size: 64px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .confirmation-page-main{padding: 161px 0 100px; display: block; text-align: center;}
    .confirmation-icon-glow{width: 254px; height: 254px; right: 0; }
    .confirmation-page-icon{display: block; margin-bottom: 69px;}
    .confirmation-page-desc{ max-width: 650px; margin: 0 auto;}
    .confirmation-page-desc h1{font-size: 46px; line-height: 54px; margin-bottom: 17px;}
    .confirmation-page-desc p{font-size: 19px;}
    .tick-icon{font-size: 64px;}
}

