
.contact-page-bg{position: absolute; z-index: -1; width: 100%; height: 100%; top: 0; left: 0;}
.contact-page-thumb img{object-position: top;}
.contact-page-wrap{padding: 253px 0 100px; }
.contact-heading{max-width: 600px; padding-left: 67px; border-left: solid 3px #00be66;}
.contact-heading h1{font-size: 74px; font-weight: bold; line-height: 1.12; color: var(--white); text-transform: capitalize;}
.contact-heading p{font-size: 19px; font-weight: 300; line-height: 1.58; color: var(--white); }

.contact-page-desc{margin-bottom: 30px;}
.contact-page-desc h2{font-size: 34px; font-weight: bold; line-height: 1.18; color: var(--white); }
.contact-page-desc{font-size: 14px; font-weight: 300; line-height: 1.43; color: rgba(255, 255, 255, 0.6); }
.address-list:not(:last-child){margin-bottom: 18px;}
.address-list{font-size: 16px; font-weight: 300; line-height: 1.88; color: var(--white); }
.address-list a{color: var(--white);}
.address-list a:hover{color: var(--green-color);}
.contact-icon-text{margin: 0; width:calc(100% - 33px);}
.contact-icon-text p{margin-bottom: 0;}
.contact-icon{width: 15px; margin: 8px 18px 0 0; color: #00be66; }
.frm_checkbox{font-size: 14px; font-weight: 300; line-height: 1.86; color: var(--white); }

body .frm_forms.frm_combo_inputs_container, 
body .frm_forms .frm_grid_container,
body .frm_forms .frm_form_fields .frm_section_heading, 
body .frm_forms .frm_form_fields .frm_fields_container{display: block;}
body .frm_forms .frm_form_fields .frm_form_field{position: relative;}
body .frm_form_field { margin-bottom: 20px;}
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio{position: relative; margin-top: 25px;}
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio input{width: 17px; height: 17px; left: 0; padding: 0; cursor: pointer; border: 1px solid #00be66; background: 0 0; border-radius: 4px; position: absolute; margin: 2px 0 0 0; backdrop-filter: none; }
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio label{padding-left: 25px; cursor: pointer; display: block; font-size: 14px; line-height: 1.5; color: var(--white); text-indent: 0; }
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio .frm_checkbox input[type=checkbox]:before {content: ""; display: block; clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); border-radius: 0; }
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio input[type=checkbox]:checked::before, body .frm_form_field.vertical_radio input[type=radio]::before { width: 12px; height: 10px; margin: 2px 0 0 2px; box-shadow: inset 8px 8px var(--white); }
body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio input[type=checkbox]:checked { background-color: #00be66; border-color: #00be66;; }
body .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="text"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="password"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="url"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="tel"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="number"], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type="email"], .frm_style_formidable-style.with_frm_style .frm_blank_field textarea, .frm_style_formidable-style.with_frm_style .frm_blank_field .mce-edit-area iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field select:not(.ui-datepicker-month):not(.ui-datepicker-year), .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-single .chosen-single, .frm_style_formidable-style.with_frm_style .frm_form_field :invalid{background-color: rgba(255,255,255,.13); border-color: transparent;}
body .frm_style_formidable-style.with_frm_style input::placeholder, body .frm_style_formidable-style.with_frm_style input::-webkit-input-placeholder, body .frm_style_formidable-style.with_frm_style input::-moz-placeholder, body .frm_style_formidable-style.with_frm_style input:-ms-input-placeholder, body .frm_style_formidable-style.with_frm_style textarea::placeholder, body .frm_style_formidable-style.with_frm_style textarea::-webkit-input-placeholder, body .frm_style_formidable-style.with_frm_style textarea::-moz-placeholder, body .frm_style_formidable-style.with_frm_style textarea:-ms-input-placeholder{color: var(--white-50); font-family: 'Poppins-Light', sans-serif; opacity: 1;}
body .frm_style_formidable-style.with_frm_style .frm_error::after{font-family: "Font Awesome 6 Pro"; font-weight: 400; content: "\f06a"; font-size: 14px; line-height: normal; color: #f00000; position: absolute; right: 18px; top: 19px;}
body .frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus{color: var(--white);}
body .frm_style_formidable-style.with_frm_style .frm_form_field :invalid{color: #f00000; border-width: 0;}
body .selectBox-dropdown .selectBox-label{padding: 0; display: block; color: var(--white-50);}
body .selectBox-dropdown.selectBox-active .selectBox-label{color: var(--white);}
body .selectBox-dropdown .selectBox-arrow{border-left: none;}
body .frm_style_formidable-style.with_frm_style textarea:focus{color: var(--white);}
body .selectBox .selectBox-dropdown:focus label{color: var(--white);}

.page-template-contact .background-bg.footer-overlay{display: none;}

@media screen and (min-width:1024px) {
    .contact-page-head{max-width: 1020px; margin-bottom: 87px;}
    .contact-dot-loc{right: 6px; top: 86px; position: absolute;}
    .contact-page-main{gap: 176px;}
    .contact-page-form{flex: 0 0 650px;}
    .contact-page-text{flex: 0 0 calc( 100% - 826px); max-width: 440px; }

    body .frm_forms .frm_form_fields .frm_form_field.frm_half{width: calc(50% - 10px); margin-left: 10px; margin-right: 10px; float: left; clear: none;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_half.frm_first{margin-left: 0;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_half.frm_last{margin-right: 0;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_third{width: calc(32.777% - 16px); margin-left: 16px; margin-right: 16px; float: left; clear: none;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_third.frm_first{margin-left: 0;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_third.frm_last{margin-right: 0;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .contact-page-head{max-width: 750px;}
    .contact-heading{padding-left: 40px;}
    .contact-page-main{gap: 30px;}
    .contact-page-form{flex: 0 0 550px;}
    .contact-page-text{flex: 0 0 calc( 100% - 580px); max-width: 440px; }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .contact-page-wrap{padding: 150px 0 80px;}
    .contact-dot-loc{display: block; position: relative; margin: 0 auto 78px;}
    .contact-page-head{margin-bottom: 46px;}
    .contact-heading{padding-left: 40px;}
    .contact-page-main{display: block;}
    .contact-page-form{margin-bottom: 60px;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_half{width: calc(50% - 10px); margin-left: 10px; margin-right: 10px; float: left; clear: none;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_half.frm_first{margin-left: 0;}
    body .frm_forms .frm_form_fields .frm_form_field.frm_half.frm_last{margin-right: 0;}
    body .frm_style_formidable-style.with_frm_style .form-field{margin-bottom: 10px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .contact-page-wrap{padding: 129px 0 76px;}
    .contact-location{width: 100%; height: 50px;}
    .contact-dot-loc{display: block; position: relative; margin:-13px 151px 91px auto;}
    .contact-page-head{margin-bottom: 46px;}
    .contact-heading{max-width: 100%; padding-left: 45px;}
    .contact-heading h1{font-size: 46px; line-height: 1.17;}

    .contact-page-main{display: block;}
    .contact-page-form{margin-bottom: 35px;}

    body .frm_form_field{margin-bottom: 10px;}
    body .frm_half{width: 100%; margin: 0 0 10px 0;}
    body .frm_form_field.vertical_radio label{line-height: 1.86;}
    body .frm_form_field.vertical_radio{margin: 23px 0 21px 0; }
    body .frm_style_formidable-style.with_frm_style .form-field{margin-bottom: 10px;}
    body .frm_style_formidable-style.with_frm_style .frm_form_field.vertical_radio{margin: 25px 0 24px;}
    .contact-page-text h2{font-size: 26px; line-height: 1.46; margin-bottom: 16px;}
}